<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계산기</h1>
    <form action="">
        첫번째 숫자 입력:<input type="text" name="first" id=""><br/>
        두번째 숫자 입력:<input type="text" name="second" id=""><br>
        계산식:<input type="text" name="calcu" id="">
        <input type="submit" value="계산">
        <h2>d={{d}}</h2>
    </form>
</body>
</html>