<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    weather.html
    <h1><a href="/">index</a></h1>
    <select name="" id="my-sel">
        <option value="">도시를 선택하세요</option>
        <option value=""></option>
    </select>    
    <button id="my-btn">버튼</button>
    <div id="my-div"></div>
</body>
</html>
<script>
    const $mysel=document.getElementById('my-sel');
    const $mybtn=document.getElementById('my-btn');
    const $mydiv=document.getElementById('my-div');
    $mybtn.addEventListener('click',()=>{
        $mydiv.innerHTML=$a.value
    })

</script>