<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    weather.html
    <h1><a href="/">index</a></h1>
    <form action="weather">
        <select name="city" id="my-sel" onchange="cityselect()">
            <option value="">도시를 선택하세요</option>
            <option value='po_102'>백령도</option>
            <option value='po_112'>인천</option>
            <option value='po_108'>서울</option>
            <option value='po_99'>파주</option>
            <option value='po_101'>춘천</option>
            <option value='po_90'>속초</option>
            <option value='po_104'>강릉</option>
            <option value='po_115'>울릉도/독도</option>
            <option value='po_119'>수원</option>
            <option value='po_131'>청주</option>
            <option value='po_136'>안동</option>
            <option value='po_133'>대전</option>
            <option value='po_177'>홍성</option>
            <option value='po_146'>전주</option>
            <option value='po_143'>대구</option>
            <option value='po_152'>울산</option>
            <option value='po_138'>포항</option>
            <option value='po_159'>부산</option>
            <option value='po_155'>창원</option>
            <option value='po_156'>광주</option>
            <option value='po_165'>목포</option>
            <option value='po_168'>여수</option>
            <option value='po_169'>흑산도</option>
            <option value='po_184'>제주</option>
        </select>    
        <input type="submit" value="전송" id="my-input">
    </form>
    <div id="my-div">
        <table border="1">
            <tr>
                <th>날짜</th>
                <th>도시</th>
                <th>날씨</th>
                <th>온도</th>
            </tr>
            <tr>
                <th>{{result[0]}}</th>
                <th>{{result[1]}}</th>
                <th>{{result[2]}}</th>
                <th>{{result[3]}}</th>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    const $mysel=document.getElementById('my-sel');
    const $myinput=document.getElementById('my-input');
    const $mydiv=document.getElementById('my-div');
    let selecttext="";
    let selectvalue="";
    function cityselect(){
        selectText=$mysel.options[$mysel.selectedIndex].text;
        selectValue=$mysel.options[$mysel.selectedIndex].value;
    }
    $myinput.addEventListener('click',()=>{
        $mydiv.innerHTML+=`${selectValue}`
    })
</script>