{% extends "base.html" %}



{% block content %} 
<div class="container">
    <h1>freeboard/select.html</h1>
    <table class="table border">
        <tr><th>순번</th><th>제목</th><th>작성자</th><th>조회수</th><th>작성일자</th></tr>
        {% for row in res %} 
        <tr>
            <td>{{row[0]}}</td>
            <td><a href="/freeboard/view?idx={{row[0]}}">{{row[1]}}</a></td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
        </tr>
        {% endfor %}
    </table>
    <div >
        <ul id="my-ul" style="display: flex; justify-content: center;">
            {% if curpage|int==1 %} 
                <li><a>«</a></li>
            {% else %}
                <li><a href="/freeboard/select?page={{curpage|int-1}}">«</a></li>
            {% endif %}
            {% for page in range(1,pagecnt+1) %}
                {% if page==curpage %}
                    <li><a class="active" href="/freeboard/select?page={{page}}">{{page}}</a></li>
                {% else %} 
                    <li><a href="/freeboard/select?page={{page}}">{{page}}</a></li>
                {% endif %}
            {% endfor %}
            {% if curpage|int == pagecnt|int %}
                <li><a>»</a></li>
            {% else %}
                <li><a href="/freeboard/select?page={{curpage|int+1}}">»</a></li>
            {% endif %}
        </ul>
    </div>
    <style>
        #my-ul>li{
            padding: 0.2rem 0.5rem;
            margin: 0.2rem;
            border: 1px solid #ccc;
            border-radius: 0.2rem;
        }
        #my-ul>li a{
            text-decoration: none;
        }
        .active{
            /* background-color: aqua; */
            color: #333;
        }
    </style>
    <a class="btn btn-primary" href="/freeboard/insertform">글 작성</a>
</div>
{% endblock %} 
