{% extends "base.html" %}



{% block content %} 
<div class="container">
    <h1>freeboard/view.html</h1>
    <h1>제목</h1>
    {{res[1]}}
    <h1>내용</h1>
    {{res[2]}}
    <h1>작성자</h1>
    {{res[3]}}
    <h1>조회수</h1>
    {{res[4]}}
    <h1>작성날짜</h1>
    {{res[5]}}
    <div style="position: relative;">
        <div style="position: absolute;">
            <a class="btn btn-primary" href="/freeboard/select">목록</a>
        </div>
        <div style="position: absolute; top:0; right:0;" >
            <a class="btn btn-primary" href="/freeboard/updateform?idx={{res[0]}}">수정</a>
            <a class="btn btn-primary" href="/freeboard/delete?idx={{res[0]}}">삭제</a>
        </div>
    </div>
</div>
{% endblock %} 
