<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
        body
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Seymour One','궁서', sans-serif;
        }
    </style>
</head>
<body>
    <form method="post">
        <input type="text" name="won" id="">
        <input type="submit" value="전송">
    </form>
    <h1>연금</h1>
    <h1>10년 가입={{result[0]}}</h1>
    <h1>15년 가입={{result[1]}}</h1>
    <h1>20년 가입={{result[2]}}</h1>
    <h1>25년 가입={{result[3]}}</h1>
    <h1>30년 가입={{result[4]}}</h1>
    <h1>35년 가입={{result[5]}}</h1>
    <h1>40년 가입={{result[6]}}</h1>
</body>
</html>