#main_header
{
    height: 150px;
    position: relative;
    /* border: 1px solid black; */
}
#title
{
    position:absolute;
    top:1rem;
    left: 1rem;
    /* border: 1px solid black; */
}
#gnb_navigation
{
    position:absolute;
    right:0;
    top:0.5rem;
    /* border: 1px solid black; */
}
#gnb_navigation>ul
{
    overflow: hidden;
}
#gnb_navigation>ul>li
{
    float: left;
    border: 1px solid black;
}
#gnb_navigation>ul>li>a
{
    display: block;
    padding: 2px 10px;
}
#gnb_navigation>ul>li>a:hover
{
    background-color: black;
    color: white;
}
#gnb_navigation>ul>li:first-child
{
    border-radius: 10px 0 0 10px;
}
#gnb_navigation>ul>li:last-child
{
    border-radius: 0 10px 10px 0;
}
#lnb_navigation
{
    position:absolute;
    bottom: 0.5rem;
    right:0;
    /* border: 1px solid black; */
}
#lnb_navigation>ul
{
    overflow: hidden;
}
#lnb_navigation>ul>li
{
    float: left;
    border:1px solid black;
}
#lnb_navigation>ul>li:first-child
{
    border-radius: 10px 0 0 10px;
}
#lnb_navigation>ul>li:last-child
{
    border-radius: 0 10px 10px 0;
}
#lnb_navigation>ul>li>a
{
    display: block;
    padding: 2px 10px;
}
#lnb_navigation>ul>li>a:hover
{
    background-color: black;
    color: white;
}